<h1><%=@the_user.username%></h1>
<dl>
  <dt>ID</dt>
  <dd><%=@the_user.id%></dd>
  <dt>Edit user</dt>
  <dd>
    <form action="/update_user_record/<%=@the_user.id%>">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" value="<%=@the_user.username%>">
      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (<%=Photo.where({:owner_id => @the_user.id}).count%>)</h2>
<table border="1">
  <tbody>
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <th></th>
    </tr>
    <% Photo.where({:owner_id => @the_user.id}).order({:created_at => :desc}).each do |photo|%>
      <tr>
        <td><img src="<%=photo.image%>"></td>
        <td><%=User.where({:id => photo.owner_id}).first.username%></td>
        <td><%=photo.caption%></td>
        <td><%=photo.created_at%></td>
        <td><a href="/photos/<%=photo.id%>">Show details</a></td>
      </tr>
    <%end%>
  </tbody>
</table>